 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
     
    .custom-nav-ver {
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
            &:hover {
                background-color: #5db8cb;
            }
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;         
        } 

        a.dropdown-item.active {
            background-color: #5db8cb;
           
        }
       
     }

 }

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    .nav {
        display: none;
    }

 } 

 